%h 
  Denominations#index
  %table
    %thead
      %tr
        %th Singular
        %th Plural
        %th Value
    %tbody
      - @denominations.each do |denomination|
        %tr
          %td 
            = denomination.singular_name
          %td
            = denomination.plural_name
          %td 
            = denomination.value
